<h1 align="center">Signup</h1>

<%= render 'form' %>
        

   <div class="col-xs-4 col-xs-offset-4">
        [ <%= link_to "Cancel Request and return to articles listing", articles_path %> ]
    </div>
    
</div>

 