
  <h1>Alpha Blog</h1>
  <h2>About</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta sit amet orci at feugiat. 
  Pellentesque porta suscipit malesuada. Ut diam massa, vehicula et elit ac, finibus suscipit massa. 
  Sed interdum varius turpis, id aliquam velit lobortis ac. Nunc et lectus tempor, congue elit 
  blandit, pretium purus. Vivamus ullamcorper tempor diam, consectetur tincidunt odio luctus et. 
  Donec sit amet fringilla metus. Vestibulum luctus lobortis quam eget volutpat. Nam non nisi 
  ullamcorper, tristique augue quis, euismod risus. Maecenas blandit rutrum leo, at lacinia erat 
  vulputate eu. Morbi aliquam pretium condimentum</p>


<%= link_to "Home", root_path %>
