<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Alpha Blog</title>
  

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <h1>Alpha Blog</h1>
  <h2>Home Page</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta sit amet orci at feugiat. Pellentesque porta suscipit malesuada. Ut diam massa, vehicula et elit ac, finibus suscipit massa. Sed interdum varius turpis, id aliquam velit lobortis ac. Nunc et lectus tempor, congue elit blandit, pretium purus. Vivamus ullamcorper tempor diam, consectetur tincidunt odio luctus et. Donec sit amet fringilla metus. Vestibulum luctus lobortis quam eget volutpat. Nam non nisi ullamcorper, tristique augue quis, euismod risus. Maecenas blandit rutrum leo, at lacinia erat vulputate eu. Morbi aliquam pretium condimentum</p>
</body>
  <p>
    <%= link_to "Alpha Blog", articles_path %> | <%= link_to "About", about_path %>
 </p>

</html>